<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nevalyashka Cloud - create instance</title>
</head>
<body>
    <h1>Instance has been created</h1>
    <p th:text="${instanceId}"></p>
</body>
</html>