<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nevalyashka Cloud - describe instance</title>
</head>
<body>
    <table border="1">
        <tr style="font-size: 13">
            <td>Instance ID</td>
            <td>Image ID</td>
            <td>Instance Type</td>
            <td>Public IP</td>
            <td>State</td>
        </tr>
        <tr th:each="instance: ${instances}">
            <td th:text="${instance.instanceId}"></td>
            <td th:text="${instance.imageId}"></td>
            <td th:text="${instance.instanceType}"></td>
            <td th:text="${instance.publicIpAddress}"></td>
            <td th:text="${instance.state}">
        </tr>
    </table>
</body>
</html>