<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nevalyashka Cloud</title>
</head>
<body>
    <h1>Welcome to Nevalyashka Cloud Provider</h1>
    <a th:href="@{/}">Home</a>
    <a th:href="@{createInstance}">Create instance</a>
    <a th:href="@{describeInstances}">Describe instances</a>
    <a th:href="@{stopInstance}">Stop instance</a>
</body>
</html>
