<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Getting Started: Handling Form Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Result</h1>
    <p th:text="'id: ' + ${instance.id}" />
    <a href="/stopInstance">Stop another instance</a>
</body>
</html>